// Custom Bootstrap SASS goes here


$primary:       #826832;
$secondary:     #38524F;
//$success:       $green !default;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light:         #E5E4DF;
$dark:          #000;

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: ($spacer * 4),
  7: ($spacer * 10),
  8: ($spacer * 15),
  9: ($spacer * 20)
) !default;

$display-font-sizes: (
  1: 7rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);

$body-bg:                   #E5E4DF;
$body-color:                #000;
$link-color:                #000;
$link-decoration:           none;

$border-width:                2px;

$headings-font-family:        kepler-std-display, serif;
$headings-font-weight:        400;
$headings-line-height:        1;
$font-family-sans-serif:      poppins, sans-serif;
$headings-color:              #38524F;

$enable-responsive-font-sizes:  true;

$card-bg:                     #E5E4DF;
$card-spacer-x:               5px;


$input-bg:                    #D9D7D0;
$input-border-width:          0;
$input-btn-font-size:         0.8rem;

$accordion-border-width:      none;
$accordion-border-color:      #000;
$accordion-button-active-bg:  none;
$accordion-button-active-color: #000;
$accordion-button-padding-y:    70px;
$accordion-icon-width:          calc(14px + (48 - 14) * ((100vw - 300px) / (1600 - 300)));


@import "../node_modules/bootstrap/scss/bootstrap";
