<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    <link rel="stylesheet" href="https://use.typekit.net/bxq4xpa.css">
    <link rel="stylesheet" href="/assets/custom.css">
    <script src="https://kit.fontawesome.com/310347b186.js" crossorigin="anonymous" async></script>
    {% set css %}
      {% include "assets/style.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>

    {% include "layouts/navbar.njk" %}

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

<footer class="container-fluid px-lg-7 px-1 py-3 mt-lg-8 mt-6">
  <div class="row">
    <div class="col-lg-6 text-lg-start text-center">
      <span class="text-uppercase small">Copyright © 2020 Tyler Brown Development</span>
    </div>
    <div class="col-lg-6 text-uppercase small d-flex justify-content-lg-end justify-content-center">
      <a href="#">Terms of Service</a>
      <a href="#" class="ms-3">Privacy Policy</a>
    </div>
  </div>
</footer>

    <!-- Current page: {{ page.url | url }} -->
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
