<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
      {# <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}"> #}
    <link rel="stylesheet" href="https://use.typekit.net/bxq4xpa.css">

    <script src="https://kit.fontawesome.com/310347b186.js" crossorigin="anonymous" async></script>
    {% set css %}
      {% include "assets/style.css" %}
      {% include "assets/custom.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>

    {% include "layouts/navbar.njk" %}

    <main{% if templateClass %} class="container {{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

<footer class="container px-lg-0 px-3 py-3 mt-lg-7 mt-6">
  <div class="row">
    <div class="col-lg-6 text-lg-left text-center">
      <span class="text-uppercase small">Copyright © 2020 Tyler Brown Development</span>
    </div>
    <div class="col-lg-6 text-uppercase small d-flex justify-content-lg-end justify-content-center">
      <a href="#">Terms of Service</a>
      <a href="#" class="ml-3">Privacy Policy</a>
    </div>
  </div>
</footer>

    <!-- Current page: {{ page.url | url }} -->

    <!-- Bootstrap Dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>

