<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid px-lg-7 px-1 justify-content-end">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center" id="navbarNav">
      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="navbar-nav mobile-vh vw-100">
        {%- for entry in navPages %}
        <li class="text-uppercase nav-item">
          <a href="{{ entry.url | url }}" class="nav-link me-4 {% if entry.url == page.url %} active{% endif %}">{{ entry.title }}</a>
        </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
</nav>
