---
layout: layouts/base.njk
templateClass: tmpl-post
---

  <h1 class="display-4 mt-6 text-primary">{{ post.title }}</h1>
  <p class="mb-5">Written by {% for author in post.authors %}{{author.name}}{% endfor %}  </p>
  <span class="post-body">
    {{ post.body | markdownify | safe }}
  </span>
  <p><a href="{{ '/' | url }}">← Home</a></p>
