---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="row">
  <div class="col-12 px-lg-0 px-3">
    <h1 class="display-4 mt-6 mb-5 text-primary">{{ post.title }}</h1>
    <span class="post-body">
    {{ post.body | markdownify | safe }}
  </span>
  </div>
</div>
