---
layout: layouts/home.njk
eleventyNavigation:
  key: Blog
  order: 4
permalink: /posts/
---
<section class="container">
  <div class="row">
    <div class="col-12 px-lg-0 px-3">
      <h1 class="h1 mt-lg-7 mt-6 mb-lg-5 mb-4 display-3 text-primary">Case Studies and Articles</h1>
    </div>
  </div>

  {% set postslist = collections.myPosts %}
  {% for post in postslist | reverse %}
  {% set currentPost = post.data.post %}
  <div class="row mt-lg-3">
    <div class="col-lg-3 p-lg-0">
      <a href="{{ post.url | url }}"><img src="{% croppedUrlFor currentPost.mainImage, 300, 250 %}" alt="{{ currentPost.mainImage.alt }}" width="100%"></a>
    </div>
    <div class="col-lg-9 mt-lg-0 mt-3 d-flex flex-column justify-content-center">
      <div class="blog-mobile-toggle">
        <h2>
          <a href="{{ post.url | url }}" class="text-secondary">{% if currentPost.title %}{{ currentPost.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
        </h2>
        <time class="small font-weight-light" datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt|readableDate }}</time>
        {{ currentPost.excerpt | markdownify | safe }}
        <span>
        <i class="fas fa-chevron-right mr-2"></i><a href="{{ post.url | url }}" class="text-uppercase">Read More</a>
      </span>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
