---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<div class="row banner">
  <div class="col-lg-7 p-lg-0 d-flex flex-column justify-content-center" style="z-index: 2;">
    <span class="h1 text-primary mt-lg-0 mt-6">Hello</span>
    <h1 class="display-3 my-lg-5 my-4 mr-lg-n200 header-toggle">{{ index.header }}</h1>
    <div class="home-subheader-wrapper mb-lg-0 mb-4">
      <p class="font-weight-light subheader-text">{{ index.subheader }}</p>
    </div>
  </div>
  <div class="col-lg-5 px-lg-0 px-3 d-flex flex-lg-row align-items-center flex-column">
    <img src="{% imageUrlFor index.image %}" alt="{{ index.image.alt }}" class="img-fluid w-100">
  </div>
</div>

<div class="row my-5">
  <div class="col-12 p-lg-0">
    <h2 class="h1 text-primary">01 - Selected Works</h2>
  </div>
</div>

<!-- Selected Works Accordion -->
<div class="accordion" id="portfolioAccordion">
  {% for portfolioProject in index.selectedWorks %}
  <div class="row mb-5">
    <div class="col-12 p-lg-0">
      <div class="border-bottom border-dark">
        <h3 class="display-1"><a href="#{{ portfolioProject.slug.current }}" data-toggle="collapse" class="text-secondary">{{ portfolioProject.name }}</a></h3>
        <p class="my-5">{{ portfolioProject.stack }}</p>
        <div class="collapse container-fluid" id="{{ portfolioProject.slug.current }}" data-parent="#portfolioAccordion">
          <div class="row mb-5">
            <div class="col-lg-4 px-0">
              <a href="/portfolio/#{{ portfolioProject.slug.current }}"><img src="{% imageUrlFor portfolioProject.image, 700 %}" alt="{{ portfolioProject.image.alt }}" width="100%"></a>
            </div>
            <div class="col-lg-8 d-flex flex-column justify-content-center px-lg-3 px-0 mt-lg-0 mt-5">
              <h2>Project Overview</h2>
              <p>
                {{ portfolioProject.projectExcerpt }}
              </p>
              <span>
              <i class="fas fa-chevron-right mr-2"></i><a href="/portfolio/#{{ portfolioProject.slug.current }}" class="text-uppercase">Read More</a>
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!-- Selected Works Accordion End -->

<div class="row mb-5 mt-lg-8 mt-6 mb-5">
  <div class="col-12 p-lg-0">
    <h2 class="h1 text-primary">02 - Recent Blog Posts</h2>
  </div>
</div>

<!-- Loops through first 3 iterations of postslist to display 3 most recent blog posts -->
{% set postslist = collections.myPosts %}
{% for post in postslist | reverse %}
{% if loop.index0 < 3 %}
{% set currentPost = post.data.post %}
<div class="row mt-lg-3">
  <div class="col-lg-3 p-lg-0">
    <a href="{{ post.url | url }}"><img src="{% croppedUrlFor currentPost.mainImage, 500, 400 %}" alt="{{ currentPost.mainImage.alt }}" width="100%"></a>
  </div>
  <div class="col-lg-9 mt-lg-0 mt-3 d-flex flex-column justify-content-center">
    <div class="blog-mobile-toggle">
      <a href="{{ post.url | url }}" class="text-secondary"><h3>{% if currentPost.title %}{{ currentPost.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</h3></a>
      <time class="small font-weight-light" datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt|readableDate }}</time>
      {{ currentPost.excerpt | markdownify | safe }}
      <span>
      <i class="fas fa-chevron-right mr-2"></i><a href="{{ post.url | url }}" class="text-uppercase">Read More</a>
    </span>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}

<div class="row mb-5 mt-lg-8 mt-6">
  <div class="col-12 p-lg-0">
    <span class="h1 text-primary">03 - Get in Touch</span>
  </div>
</div>

<div class="row my-5">
  <div class="col-12 px-lg-0 px-3">
    <div class="border-bottom border-dark pb-5">
    <p class="h1 display-1 text-secondary">Want to start a web project? I'd love to hear from you.</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 d-flex flex-column justify-content-center pl-md-0 pl-3">
    <span>
      <i class="fas fa-chevron-right mr-2"></i><a href="/hireme/" class="text-uppercase">Project Inquiries</a>
    </span>
    <span>
      <i class="fas fa-chevron-right mr-2"></i><a href="mailto:hello@tylerbrowndev.com" class="text-uppercase">General Inquiries</a>
    </span>
    <span>
      <i class="fas fa-chevron-right mr-2"></i><a href="https://github.com/tysbrown" class="text-uppercase">GitHub</a>
    </span>
  </div>
  <div class="col-md-9 pr-md-0 pr-3 mt-md-0 mt-5 d-flex justify-content-center align-items-center border-toggle">
    <a href="mailto:hello@tylerbrowndev.com" class="h1 display-3 email-toggle" style="text-decoration: underline;">hello@tylerbrowndev.com</a>
  </div>
</div>
