---
layout: layouts/home.njk
eleventyNavigation:
  key: Portfolio
  order: 3
---

{% for portfolio in portfolio %}
  <h1 class="mt-6">{{ portfolio.name }}</h1>
  {{ portfolio.body | markdownify | safe }}
{% endfor %}
